@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../components/MovieCarousel/styles.css';
@import '../components/NavBar/styles.css';
@import '../components/HorizontalSlider/styles.css';
@import '../components/DetailCard/styles.css';


body{
    @apply bg-gradient-to-b from-black to-darkRed;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}